.main-left{
  -fx-background-color:#171717;
}
.main-right{
 -fx-background-color:#171717;
}
.main-extra{
  -fx-background-color:#474747;
}
.main-extra-pane{
  -fx-background-color:grey;
}
.main-extra-2{
  -fx-background-color:gray;
}
.main-extra-pane-2{
  -fx-background-color:#a8a8a8;
}
.main-button{
  -fx-background-color:#636363;
  -fx-border-width: 8;
  -fx-border-color: transparent transparent transparent #87cefa;
  -fx-background-insets:0;
  -fx-font-size:25px;
}
.main-button:hover{
  -fx-width: 200px;
  -fx-height: 60px;
  -fx-background-insets:0;
  -fx-font-size:25px;
}
.main-button:focused{
  -fx-background-color: #202020;
  -fx-width: 200px;
  -fx-height: 60px;
  -fx-background-insets:0;
  -fx-font-size:25px;
}
.list-cell{
-fx-font-size:16px;
}
.search-button{
  -fx-background-color:#636363;
  -fx-background-insets:0;
  -fx-font-size:25px;
}
.home{
-fx-background-color: #474747;
}
.classes{
-fx-background-color: green;
}
.instructors{
-fx-background-color: blue;
}
.members{
-fx-background-color: yellow;
}
.top-main{
  -fx-background-color:#00bfbc;
}

